**
!Dockerfile
!pyproject.toml
!README.md
!LICENSE
!NOTICE.md
!licenses/
!licenses/**
!src/
!src/**
src/**/__pycache__/
src/**/*.pyc
!package.json
!package-lock.json
!tsconfig.json
!vite.config.js
!web/
!web/**
web/dist/
web/node_modules/
